button {
    padding: 12px 6px;
    margin-bottom: 10px;
}

div#canvas {
    display:grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16,1fr);
    width: 600px;
    height: 600px;
}

.canvasDiv{
    background-color:black;
    transition: all 0.3s ease;
   
}

.whiteSquare {
    background-color:white;
   
}